/* ================= HERO / ABOUT ================= */

.hero {
    padding: 80px 20px;
    background: #112240;
    color: white;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1100px;
    margin: auto;
}

.hero-left {
    text-align: center;
}

.hero-left img {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.hero-right {
    max-width: 500px;
    text-align: left;
}

.hero-right h2 {
    margin-bottom: 10px;
    color: #64ffda;
}

/* ================= GLOBAL ================= */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f7fa;
    color: #333;
}

/* ================= NAV ================= */

nav {
    background: #0a192f;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* ================= BUTTON ================= */

.btn {
    background: #64ffda;
    color: #0a192f;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 7px;
    margin-top: 20px;
    display: inline-block;
}

/* ================= SECTIONS ================= */

section {
    padding: 60px 10%;
}

h2 {
    color: #0a192f;
    margin-bottom: 30px;
}

/* ================= CARDS ================= */

.card,
.project {
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-left: 5px solid #173B4F;
    border-radius: 5px 20px 20px 5px;
}

/* ================= LIST ================= */

.list li {
    margin-bottom: 10px;
}

/* ================= CENTER IMAGES ================= */

.center-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.center-images img {
    width: 150px;
    height: auto;
}

/* ================= FOOTER ================= */

footer {
    text-align: center;
    padding: 20px;
    background: #0a192f;
    color: white;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-right {
        text-align: center;
    }
}
