
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f7fa;
    color: #333;
}

nav {
    background: #0a192f;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: #112240;
    color: white;
}

.hero img {
    width: 160px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.btn {
    background: #64ffda;
    color: #0a192f;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 7px;
    
}

section {
    padding: 60px 10%;
}

h2 {
    color: #0a192f;
    margin-bottom: 30px;
}

.card, .project {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-left: 5px solid #173B4F;
    border-radius: 10px;
}

.list li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0a192f;
    color: white;
}
